server:
  port: 4040
#  servlet:
#    context-path: "/api" # base endpoint http://localhost:4040/api/api/...

spring:
  application:
    name: Spring Boot Java Project
  main:
    banner-mode: off
    # web-application-type: none # disable web server
  mvc:
    favicon:
      enabled: false
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  datasource:
    url: ${SPRING_DATASOURCE_URL} # "3.140.188.132:3306" JDBC URL of the database
    username: ${DATABASE_USERNAME} # creds for database connection
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
  devtools:
    livereload:
      enabled: true
  # security:
  #   user: # for endpoint security
  #     name: Harry
  #     password: hello123
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS}
  #   producer:
  #     bootstrap-servers: localhost:9093
  #     key-serializer: org.apache.kafka.common.serialization.StringSerializer
  #     value-serializer: org.apache.kafka.common.serialization.StringSerializer
  #   consumer:
  #     bootstrap-servers: localhost:9093
  #     group-id: group1
  #     auto-offset-reset: earliest
  #     key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
  #     value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
  #     properties:
  #       max-request-size: 10485760
  # properties:
  #   fetch-max-bytes: 10485760

# Reduce logging level
logging:
  level:
    root: warn

# Custom environment variables
custom:
  storage-type: "AWS_S3"
  endpoints:
    server:
      local: "http://localhost:4040"
      staging: "http://18.219.151.181:4040"
      # production: "http://18.219.151.181:4040"
    client:
      local: "http://localhost:5173" # frontend base endpoint
      # staging: "http://18.219.151.181:5173"
      # production: "http://18.219.151.181:4040"
  path:
    project-root-dir: ${CUSTOM_PATH_PROJECT_ROOT_DIR}
    source-video-dir: ${CUSTOM_PATH_SOURCE_VIDEO_DIR}
aws:
  credentials:
    profile: ${AWS_PROFILE:default}
    region: ${AWS_DEFAULT_REGION:us-east-1}
    access-key: ${AWS_ACCESS_KEY_ID}
    secret-key: ${AWS_SECRET_ACCESS_KEY}
  s3:
    bucket-name: ${AWS_S3_BUCKET_NAME}
